@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0px;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
}

.sidebar {
    position: fixed;
    left: 0;
    color: white;
    background-color: #2A3F54;
    height: 100vh;
    width: 220px;
    text-align: center;
    left: -220px;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 25px;
    padding: 5px;
    user-select: none;
    font-weight: bold;
    margin: 20px 0;
}

.sidebar ul a {
    display: block;
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: 2px 0;
    transition: .4s;
}

.sidebar ul i {
    padding-right: 10px;
}

.sidebar ul li:hover a{
    background-color: #38536e;
    padding-left: 30px;
}

.sidebar ul li:hover i{
    font-size: 17px;
}

#check {
    display: none;
}

label #btn, label #cancel {
    position: fixed;
    cursor: pointer;
    background-color: #2A3F54;
    border-radius: 3px;
}

label  #btn {
    z-index: 1111;
    left: 30px;
    font-size: 27px;
    top: 30px;
    color: white;
    padding: 4px 8px;
    transition: .5s;
}

label  #cancel {
    z-index: 1000;
    left: -190px;
    color: white;
    top: 32px;
    font-size: 27px;
    transition: .5s;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 220px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label  #cancel {
    left: 190px;
}

#check:checked ~ section {
    margin-left: 220px;
}


section {
    height: 100vh;
    background-color: whitesmoke;
    transition: .5s;
}

.user {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.25);
}

.user ul {
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px 5px 0;
}

.user ul li{
    margin: 10px;
}

.user ul a{
    color: #2A3F54;
}

.user ul i {
    font-size: 18px;
}

#dropDownBtn{
    cursor: pointer;
    font-size: 12px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
display: none;
position: absolute;
right: 0;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
font-size: 15px;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

.content {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

.content-items {
    background-color: white;
    margin: 10px 0;
    width: 220px;
    padding: 10px;
    border: 0.5px solid rgba(128, 128, 128, 0.25);
}

.left {
    float: left;
}

.left h2 {
    color: grey;
    filter: opacity(0.6);
}

.content-items i {
    color: grey;
    font-size: 55px;
    float: right;
    filter: opacity(0.6);
}

.content-items .left span {
    font-size: 20px;
    font-weight: bold;
    color: #2A3F54;
}

.map-section {
    height: 400px;
    display: flex;
    background-color: white;
    padding: 40px 0;
}

.map {
    width: 75%;
    height: 100%;
}

.map img {
    width: 900px;
    object-fit: contain;
}

.countries {
    width: 25%;
    height: 100%;
    overflow-y: scroll;
    color: grey;
}

.countries ul{
    padding: 20px 0;
}

.countries ul li {
    padding: 10px;
}

.countries span{
    float: right;
    padding-right: 50px;
    font-size: 14px;
}

.countries a{
    color: grey;
    font-size: 14px;
}

.chart-section {
    height: 400px;
    display: flex;
}

.chart-section {
    background-color: white;
    padding: 50px 50px 0 50px;
    display: flex;
    justify-content:center;
}

.browsers-container {
    width: 50%;
}

.os-container {
    width: 50%;
}

.companies-section {
    padding: 0 50px;
    display: flex;
    height: 450px;
    justify-content: center;
}

.demography {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
}

.performance-section {
    padding: 20px 40px;
}
